# === Data & Large Files ===
data/
mlrun/
*.h5
*.keras
*.pkl
*.zip
*.gz
*.tar
*.tar.gz
*.csv
*.txt
*.npy
*.npz

# === Python cache ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# === Jupyter Notebook junk ===
.ipynb_checkpoints/
*.ipynb_checkpoint

# === Environment files ===
.env
.venv/
env/
venv/

# === IDE / Editor ===
.vscode/
.idea/
.DS_Store

# === Docker local ===
*.pid

